{% extends "wiki_provider/base.html" %} {% block title %}Tim02 - sokic{%
endblock %} {%block body %}

<div>
  <form action="{% url 'scrape_page' %}" method="get">
    <div class="form-group">
      <label for="name">Graph name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        id="name"
        placeholder="Enter name"
      />
    </div>
    <div class="form-group">
      <label for="wiki-link">Wikipedia Link</label>
      <input
        type="text"
        class="form-control"
        name="wiki-link"
        id="wiki-link"
        placeholder="Enter Wikipedia Link"
      />
    </div>
    <div class="form-group">
      <label for="depth">Depth</label>
      <input
        type="number"
        class="form-control"
        name="depth"
        id="depth"
        placeholder="Enter depth"
      />
    </div>
    <div class="form-group">
      <label for="num-of-links">Number of links per page</label>
      <input
        type="number"
        class="form-control"
        name="num-of-links"
        id="num-of-links"
        placeholder="Enter width"
      />
    </div>
    <button type="submit" class="btn btn-primary">SCRAPE</button>
  </form>
</div>

{% endblock %}
