* {
  box-sizing: border-box;
}

:root {
  --Primary: #333;
  --Amber: #ffbf00;
  --White: #fff;
  --Secondary: #dbdbdb;
  --SecondaryHover: #b5b5b5;
  --AccentLine: #fdb0b0;
  --AccentBox: #1589e0;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 2%;
}

svg {
  z-index: -1;
}

#main-box{
  margin: auto;
  position: fixed;
  top: 2vh;
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
  z-index: 8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 8px;
}

.dropdown_container, .additional_info, .group_1, .group_2{
  margin: auto;
  display: flex;
  flex-direction: row;
}

.dropdown {
  margin: auto 10px;
}

#visualization-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.separator {
  margin: auto 20px;
  height: 32px;
  border-left: 1px solid var(--Secondary);
}

.submit_filters{
  margin-top: 5px;
}

#apply_filter_and_search {
  padding: 10px 15px;
  border-radius: 50%;
  background-color: var(--AccentLine);
  color: var(--Primary);
}

.input_filed {
  border-radius: 4px;
  border: 1px solid var(--Secondary);
  cursor: pointer;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  font-size: 1rem;
}

.input_filed option {
  cursor: pointer;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  font-size: 1rem;
}

.input_filed:hover {
  border-color: var(--SecondaryHover);
}

.input_filed:focus {
  border-color: var(--Amber);
}

.input_filed:focus-visible {
  border: 1px solid var(--Amber);
}

.button.is-focused,
.button:focus {
  border-color: var(--Amber);
  box-shadow: 0 0 0 0.125em transparent !important;
}

.filters_applied {
  position: fixed;
  top: 15vh;
  right: 0;
  padding: 20px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  color: var(--Primary);
  z-index: 7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.query_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid var(--Secondary);
}

.query_card .query_text {
  margin-right: 1px;
}

.query_card i {
  color: var(--Secondary);
  cursor: pointer;
}

.tree_view {
  position: fixed;
  top: 15vh;
  left: 0;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  color: var(--Primary);
  z-index: 7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.bird_view {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  color: var(--Primary);
  z-index: 7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.iks>i{
  color: var(--AccentLine);
  font-size: 2rem;
  position: fixed;
  top: 2vh;
  right: 2vh;
  cursor: pointer;
  z-index: 12;
}

.hide{
  display: none !important;
}

@media (max-width: 1500px) {
  #main-box label{
    display: none;
  }
  .dropdown {
    margin: auto 5px;
  }
  .separator {
    margin: auto 5px;
  }
  #main-box{
    padding: 16px 8px;
  }
}

@media (max-width: 1300px) {
  #main-box {
    display: grid;
    grid-template-columns: 1fr;
  }
  .filter, .dropdown{
    margin: auto 5px;
  }
  .additional_info{
    margin-top: 10px;
  }
  .separator{
    display: none;
  }
}

@media (max-width: 800px) {
  #main-box {
    text-align: center;
  }
  .additional_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .tree_view {
    top: 25vh;
    width: 200px;
  }
  .filters_applied {
    top: 25vh;
    padding: 10px;
    width: 200px;
  }
  .bird_view {
    bottom: 10px;
    right: 10px;
    width: 200px;
  }
}

@media (max-width: 600px) {
  .tree_view {
    top: 38vh;
  }
  .filters_applied {
    top: 38vh;
  }
  .dropdown_container, .additional_info, .group_1, .group_2{
    display: grid;
    grid-template-columns: 1fr;
  }
  .submit_filters{
    margin: 20px;
  }
  
}
