<style>
  .baseCircle {
    cursor: pointer;
    fill: #1589e0;
  }

  .paleLine{
    fill: #1b1b1b;
    stroke: #fdd5d5;
    stroke-width: 3px;
  }

  .paleCircle
  {
    cursor: pointer;
    fill: #54a2de;
  }

  .hoveredCircle {
    cursor: pointer;
    fill: #015696;
  }

  .baseLine {
    fill: #1b1b1b;
    stroke: #fdb0b0;
    stroke-width: 3px;
  }

  .hoveredLine{
    fill: #1b1b1b;
    stroke: #f54f4f;
    stroke-width: 3px;
  }

  .sv_text{
    fill:darkblue;
  }

  #simp_vis_svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -55%);
  }

  #simp_vis_svg:focus{
    outline:none !important;
  }
</style>
<script>
   let selected_node_sv = null;

   function hoverNode(node){
       d3.select('.links_sv')
               .selectAll(`line[source='${node.id}'],line[target='${node.id}']`)
               .attr('class', 'hoveredLine')
       d3.select(`.node_sv[id='${node.id}']`).selectAll('circle').attr('class', 'hoveredCircle')

   }
   function dropHover(node){
     if(selected_node_sv == null) {
       d3.select('.links_sv')
               .selectAll(`line[source='${node.id}'],line[target='${node.id}']`)
               .attr('class', 'baseLine')
      d3.select(`.node_sv[id='${node.id}']`).selectAll('circle').attr('class','baseCircle')
     }
     else{
        d3.select('.links_sv')
               .selectAll(`line[source='${node.id}'],line[target='${node.id}']`)
               .attr('class', 'paleLine')
        d3.select(`.node_sv[id='${node.id}']`).selectAll('circle').attr('class','paleCircle')
       d3.select('.links_sv')
       .selectAll(`line[source='${selected_node_sv.id}'],line[target='${selected_node_sv.id}']`)
       .attr('class','hoveredLine')
       d3.select(`.node_sv[id='${selected_node_sv.id}']`).selectAll('circle').attr('class','hoveredCircle')
     }
     }
  function nodeClick(node) {

    if(selected_node_sv != null){
      d3.select('.links_sv')
       .selectAll(`line[source='${selected_node_sv.id}'],line[target='${selected_node_sv.id}']`)
       .attr('class','paleLine')
      d3.select(`.node_sv[id='${selected_node_sv.id}']`).selectAll('circle').attr('class','paleCircle')
    }
    d3.select('.links_sv')
       .selectAll(`line`)
       .attr('class','paleLine')
      d3.select(`.nodes_sv`).selectAll('.node_sv').selectAll('circle').attr('class','paleCircle')
      d3.selectAll('marker').attr('fill','#fdd5d5')

    selected_node_sv = node
     d3.selectAll(`line[source='${node.id}'],line[target='${node.id}']`)
     .attr('class','hoveredLine')
     d3.select(`.node_sv[id='${node.id}']`).selectAll('circle').attr('class','hoveredCircle')
    sendToCore(findNodeIds(selected_node_sv.id));

  }


  function findNodeIds(nodeId){
     let iteration_node_id = nodeId;
     let nodeList = [];
     nodeList.push(Number.parseInt(nodeId));
     while(true) {
       let line_test = d3.selectAll(`line[target='${iteration_node_id}'`)
       let lines_for_ids = line_test._groups[0]
       console.log(lines_for_ids)
       if(lines_for_ids.length!=0){
         let line = lines_for_ids[0];
         iteration_node_id = line.__data__.source.id
         nodeList.push(iteration_node_id)

       }
       else{
            return nodeList
       }
     }
  }
   function sendToCore(nodeList){
     console.log("NODELIST")
     console.log(nodeList)
     fetch("/select_treeview_node", {
                  method: 'POST',
                  credentials: 'same-origin',
                  headers:{
                      'Accept': 'application/json',
                      'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                      'X-CSRFToken': csrftoken,
              },
                  body: JSON.stringify(nodeList) //JavaScript object of data to POST
              })
             .then(value => {location.reload()})
            return;
  }
  function nodeAlert(node){
        alert("ID: " + node.id + "\n" + node.getAttribute("desc"));
  }
  function clearColors(){
    d3.select('.links_sv')
       .selectAll(`line`)
       .attr('class','baseLine')
      d3.select(`.nodes_sv`).selectAll('.node_sv').
      selectAll('circle').attr('class','baseCircle')
      d3.selectAll('marker').attr('fill','#fdb0b0')
    selected_node_sv = null;
  }

</script>
<svg id="simp_vis_svg" width="100%" height="100%">
  <g class="links_sv"></g>
  <g class="nodes_sv">

  </g>
</svg>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script>
    let nodes_sv = {{nodes|safe}}

    let links_sv = {{edges|safe}}


    const svg_sv = d3.select("#simp_vis_svg") .attr('tabindex', '0')
  .attr('focusable', 'true').on('keydown',(event)=>{
                  if(event.keyCode == 27){
                    clearColors();
                  }
                });

    let width_sv = window.screen.width, height_sv = window.screen.height
    let simulation_sv = d3.forceSimulation(nodes_sv)
        .force('charge', d3.forceManyBody().strength(-100))
        .force('center', d3.forceCenter(width_sv / 2, height_sv / 2))
        .force('link', d3.forceLink().links(links_sv)).on('tick', ticked)



    let zoom_sv = d3.zoom().on('zoom', handleZoom);

    function handleZoom(e) {
        d3.selectAll('#simp_vis_svg g').attr('transform',e.transform)
        ticked()
    }

    function initZoom() {
        d3.select('#simp_vis_svg')
            .call(zoom_sv);
    }
    function insertLinks(){
      let arrow_append_counter_sv=0;
      let u = d3.select('.links_sv')
              .selectAll('line')
              .data(links_sv)
              .join('line')
              .attr('class','baseLine')
              .attr('id',function(d){arrow_append_counter_sv++
              return arrow_append_counter_sv})
              .attr('source',function (d) {
                return d.source.id
              })
              .attr('target',function (d) {
                        return d.target.id
                      })
    }
    function updateLinks() {
        let u = d3.select('.links_sv')
            .selectAll('line')
            .attr('x1', function(d) {
                return d.source.x
            })
            .attr('y1', function(d) {
                return d.source.y
            })
            .attr('x2', function(d) {
                return d.target.x
            })
            .attr('y2', function(d) {
                return d.target.y
            });
    }


    function insertNodes(){
      let c = d3.select('.nodes_sv')
            .selectAll('g')
            .data(nodes_sv)
            .enter().append('g').attr('class',"node_sv")
              .attr('desc', function(d){return Object.values(d.atributes).join("\n")})
              .attr('id', function(d){return d.id;})
              .on('click',function(){nodeClick(this);nodeAlert(this)})
              .attr('transform', function(d){return `scale(${1}) translate(${d.x},${d.y})`})
              .on('mouseover', function(){hoverNode(this);})
              .on('mouseout',function(){dropHover(this);})
              .call(drag(simulation_sv))


      d3.selectAll('.node_sv').each(function(d){simpleVizualization(d)})

    }

    function simpleVizualization(d){


      d3.select(`g[id="${d.id}"]`)
              .append('circle').attr('r', 9).attr('class','baseCircle');


      d3.select(`g[id="${d.id}"]`)
              .append('text').attr('class','sv_text').text(d.atributes['title']).attr('transform', function(d){return `scale(${1}) translate(${15},${0})`})


    }

    function updateNodes() {
        let u = d3.select('.nodes_sv')
            .selectAll('.node_sv')
            .attr('transform', function(d){return `translate(${d.x},${d.y})`});

    }

    function ticked() {
        updateLinks()
        updateNodes()
    }

     function drag(simulation_sv) {
    function dragstarted(event) {
      if (!event.active) simulation_sv.alphaTarget(0.3).restart();
      event.subject.fx = event.subject.x;
      event.subject.fy = event.subject.y;
    }

    function dragged(event) {
      event.subject.fx = event.x;
      event.subject.fy = event.y;
    }

    function dragended(event) {
      if (!event.active) simulation_sv.alphaTarget(0);
      event.subject.fx = null;
      event.subject.fy = null;
    }

    return d3.drag()
      .on("start", dragstarted)
      .on("drag", dragged)
      .on("end", dragended);
    }

    insertNodes()
    insertLinks()

  initZoom()
</script>
