<style>
  .node_av {
    cursor: pointer;
  }

  .line_av {
    fill: #1b1b1b;
    stroke: #fdb0b0;
    stroke-width: 3px;
  }
  .base_node_av {
    cursor: pointer;
    fill: #1589e0;
  }

  .pale_line_av{
    fill: #1b1b1b;
    stroke: #fdd5d5 !important;
    stroke-width: 3px;
  }

  .pale_node_av
  {
    cursor: pointer;
    fill: #54a2de  !important;
  }

  .hovered_node_av {

    cursor: pointer;
    fill: #015696  !important;
  }


  .hovered_line_av{
    fill: #1b1b1b;
    stroke: #f54f4f  !important;
    stroke-width: 3px;
  }
  #av_svg {
    position: absolute;
    top: 50%;
    left: 50%;
  }

    #av_svg:focus{
    outline:none !important;
  }
</style>
<script>
  function nodeAlert(clickedElement) {
    output = "";
    output += `ID: ${clickedElement.id}\n`;
    output += `POSITION: ${clickedElement.getAttribute("transform")}\n`;
    output += `DESCRIPTION: ${clickedElement.getAttribute("desc")}\n`;
    alert(output);
  }
     let selected_node_av = null;

   function hoverNode(node){
       d3.select('.links')
               .selectAll(`line[source='${node.id}'],line[target='${node.id}']`)
               .attr('class', 'line_av hovered_line_av')
       d3.select(`.node_av[id='${node.id}']`).selectAll('rect').attr('class', 'node_av hovered_node_av')

   }
   function dropHover(node){
     if(selected_node_av == null) {
       d3.select('.links')
               .selectAll(`line[source='${node.id}'],line[target='${node.id}']`)
               .attr('class', 'line_av')
      d3.select(`.node_av[id='${node.id}']`).selectAll('rect').attr('class','node_av')
     }
     else{
        d3.select('.links')
               .selectAll(`line[source='${node.id}'],line[target='${node.id}']`)
               .attr('class', 'line_av pale_line_av')
        d3.select(`.node_av[id='${node.id}']`).selectAll('rect').attr('class','node_av pale_node_av')
       d3.select('.links')
       .selectAll(`line[source='${selected_node_av.id}'],line[target='${selected_node_av.id}']`)
       .attr('class','line_av hovered_line_av')
       d3.select(`.node_av[id='${selected_node_av.id}']`).selectAll('rect').attr('class','node_av hovered_node_av')
     }
     }
  function nodeClick(node) {

    if(selected_node_av != null){
      d3.select('.links')
       .selectAll(`line[source='${selected_node_av.id}'],line[target='${selected_node_av.id}']`)
       .attr('class','line_av pale_line_av')
      d3.select(`.node_av[id='${selected_node_av.id}']`).selectAll('rect').attr('class','node_av pale_node_av')
    }
    d3.select('.links')
       .selectAll(`line`)
       .attr('class','line_av pale_line_av')
      d3.select(`.nodes`).selectAll('.node_av').selectAll('rect').attr('class','node_av pale_node_av')
      d3.selectAll('marker').attr('fill','#fdd5d5')

    selected_node_av = node
    d3.select('.links')
     .selectAll(`line[source='${node.id}'],line[target='${node.id}']`)
     .attr('class','line_av hovered_line_av')
     d3.select(`.node_av[id='${node.id}']`).selectAll('rect').attr('class','node_av hovered_node_av')
        sendToCore(findNodeIds(selected_node_av.id));

  }

  function clearColors(){
    d3.select('.links')
       .selectAll(`line`)
       .attr('class','line_av')
      d3.select(`.nodes`).selectAll('.node_av').
      selectAll('rect').attr('class','node_av')
      d3.selectAll('marker').attr('fill','#fdb0b0')
    selected_node_av = null;
  }
  function findNodeIds(nodeId){
     let iteration_node_id = nodeId;
     let nodeList = [];
     nodeList.push(Number.parseInt(nodeId));
     while(true) {
       let line_test = d3.selectAll(`line[target='${iteration_node_id}'`)
       let lines_for_ids = line_test._groups[0]
       console.log(lines_for_ids)
       if(lines_for_ids.length!=0){
         let line = lines_for_ids[0];
         iteration_node_id = line.__data__.source.id
         nodeList.push(iteration_node_id)

       }
       else{
            return nodeList
       }
     }
  }
   function sendToCore(nodeList) {
     console.log("NODELIST")
     console.log(nodeList)
     fetch("/select_treeview_node", {
       method: 'POST',
       credentials: 'same-origin',
       headers: {
         'Accept': 'application/json',
         'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
         'X-CSRFToken': csrftoken,
       },
       body: JSON.stringify(nodeList) //JavaScript object of data to POST
     })
             .then(value => {
               location.reload()
             })
     return;
   }
</script>
<svg id="av_svg" width="100%" height="100%">
  <g class="links"></g>
  <g class="nodes"></g>
</svg>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script>
    var nodes_for_av = {{nodes|safe}}

    var links_for_av = {{edges|safe}}

    var width_for_av = window.screen.width, height = window.screen.height
    var simulation_for_av = d3.forceSimulation(nodes_for_av)
        .force('charge', d3.forceManyBody().strength(-10))
        .force('center', d3.forceCenter(width_for_av / 3, height / 3))
        .force('link', d3.forceLink().links(links_for_av).distance(250))
        .on('tick', ticked);

    let zoom_for_av = d3.zoom().on('zoom', handleZoom);

    const svg_for_av = d3.select("#av_svg") .attr('tabindex', '0')
  .attr('focusable', 'true').on('keydown',(event)=>{
                  if(event.keyCode == 27){
                    clearColors();
                  }
                });;
    const offsetTransformForAv = d3.zoomIdentity.translate(-width_for_av/2.5, -height/3);
    svg_for_av.attr("transform", offsetTransformForAv);

    var first_av = true;


    function handleZoom(e) {
      if(first_av){
        e.transform.x += offsetTransformForAv.x;
        e.transform.y += offsetTransformForAv.y;
        first_av = false;
      }

      d3.selectAll('#av_svg').attr('transform', e.transform);
    }

    function initZoom() {
      d3.select('#av_svg').call(zoom_for_av);
    }

    function insertLinks(){
      d3.select('.links')
      .selectAll('line.line_av')
      .data(links_for_av)
      .enter().append('line')
      .attr('class', 'line_av').attr('source',function (d) {
                return d.source.id
              })
              .attr('target',function (d) {
                        return d.target.id
                      })
    }

    function updateLinks() {
        d3.select('.links')
        .selectAll('line.line_av')
        .attr('x1', function(d) {
            return d.source.x
        })
        .attr('y1', function(d) {
            return d.source.y
        })
        .attr('x2', function(d) {
            return d.target.x
        })
        .attr('y2', function(d) {
            return d.target.y
        });
    }

    function insertNodes(){
      d3.select('.nodes')
      .selectAll('g.node_av')
      .data(nodes_for_av)
      .enter().append('g')
      .attr('class', 'node_av')
      .attr('id', function(d){return d.id;})
      .attr('desc', function(d){return Object.values(d.atributes).join("\n")})
      .attr('transform', function(d){return `scale(${1}) translate(${d.x},${d.y})`})
      .call(drag(simulation_for_av))
      .on('click',function(){nodeClick(this);nodeAlert(this)}).on('mouseover', function(){hoverNode(this);})
      .on('mouseout',function(){dropHover(this);});

      d3.selectAll('g.node_av').each(function(d){advancedVizualization(d);});
    }

    function updateNodes() {
        d3.select('.nodes')
        .selectAll('g.node_av')
        .attr('transform', function(d){return `scale(${1}) translate(${d.x},${d.y})`});
    }

    function ticked() {
        updateLinks()
        updateNodes()
    }

    function drag(simulation_for_av) {
    function dragstarted(event) {
      if (!event.active) simulation_for_av.alphaTarget(0.3).restart();
      event.subject.fx = event.subject.x;
      event.subject.fy = event.subject.y;
    }

    function dragged(event) {
      event.subject.fx = event.x;
      event.subject.fy = event.y;
    }

    function dragended(event) {
      if (!event.active) simulation_for_av.alphaTarget(0);
      event.subject.fx = null;
      event.subject.fy = null;
    }

    return d3.drag()
      .on("start", dragstarted)
      .on("drag", dragged)
      .on("end", dragended);
  }

    function advancedVizualization(d){

      const maxWidth = 300;
      const numberOfFields=Object.keys(d.atributes).length

      const textSize = 15;
      const padding = 10;
      const extraSpaceForCutout = 12;
      const line_stroke_height = 2;
      const extraSpaceNeeded = calculateExtraSpace(d, textSize, maxWidth, padding);
      const width = calculateWidth(d, textSize, maxWidth, padding);
      const height = extraSpaceForCutout + padding + textSize + line_stroke_height + (numberOfFields) * (textSize + padding) + extraSpaceNeeded + padding;

      d3.select(`g[id="${d.id}"]`)
          .append('rect')
          .attr('x',0)
          .attr('y',0)
          .attr('width',width)
          .attr('height',height)
          .attr('fill','rgba(21, 137, 224, 0.8)');

      d3.select(`g[id="${d.id}"]`)
          .append('text')
          .attr('x',width/2)
          .attr('y',extraSpaceForCutout + padding)
          .attr('text-anchor','middle')
          .attr('font-size', textSize)
          .attr('font-family','sans-serif')
          .attr('fill','rgba(255, 255, 255, 0.8)')
          .text(d.index);

      d3.select(`g[id="${d.id}"]`)
          .append('line')
          .attr('x1',0 + padding)
          .attr('y1',padding + textSize + padding)
          .attr('x2',width - padding)
          .attr('y2',padding + textSize + padding)
          .attr('stroke','rgba(255, 255, 255, 0.2)')
          .attr('stroke-width',line_stroke_height);

      let startPosition = extraSpaceForCutout + padding + textSize + padding + line_stroke_height + padding;

      for(let a_key in d.atributes){
          d3.select(`g[id="${d.id}"]`)
          .append('text')
          .attr('x',padding)
          .attr('y',startPosition)
          .attr('text-anchor','start')
          .attr('font-size',textSize)
          .attr('font-family','sans-serif')
          .attr('fill','rgba(255, 255, 255, 0.8)')
          .text(`${a_key}: ${d.atributes[a_key]}`)
          .call(wrap, width, padding);
          startPosition += calculateAttributeHight(a_key, d.atributes, textSize, width);
        }
    }

    function wrap(text, width, padding) {
      text.each(function () {
          let text = d3.select(this),
              words = text.text().split(/\s+/).reverse(),
              word,
              line = [],
              lineNumber = 0,
              lineHeight = 1.1, // ems
              x = text.attr("x"),
              y = text.attr("y"),
              dy = 0, //parseFloat(text.attr("dy")),
              tspan = text.text(null)
                          .append("tspan")
                          .attr("x", x)
                          .attr("y", y)
                          .attr("dy", dy + "em");
          while (word = words.pop()) {
              line.push(word);
              tspan.text(line.join(" "));
              if (tspan.node().getComputedTextLength() > width - padding) {
                  line.pop();
                  tspan.text(line.join(" "));
                  line = [word];
                  tspan = text.append("tspan")
                              .attr("x", x)
                              .attr("y", y)
                              .attr("dy", ++lineNumber * lineHeight + dy + "em")
                              .text(word);
            }
          }
      });
    }

    function calculateExtraSpace(d, fontSize, maxWidth){
      let extraLinesNeeded = 0;
      for(const a_key in d.atributes){
        extraLinesNeeded += (`${a_key}: ${d.atributes[a_key]}`.length * fontSize) / (maxWidth * 1.9);
      }
      return extraLinesNeeded * fontSize;
    }

    function calculateAttributeHight(key, atributes, fontSize, maxWidth){
      let height = 1
      height += (`${key}: ${atributes[key]}`.length * fontSize) / (maxWidth * 1.9);
      return height * fontSize;
    }

    function calculateWidth(d, fontSize, maxWidth){
      let maxSizeRequired = 0;
      for(const a_key in d.atributes){
        if(`${a_key}: ${d.atributes[a_key]}`.length * fontSize > maxSizeRequired){
          maxSizeRequired = `${a_key}: ${d.atributes[a_key]}`.length * fontSize;
        }
      }
      return maxSizeRequired > maxWidth ? maxWidth : maxSizeRequired;
    }

  initZoom()
  insertLinks()
  insertNodes()
</script>
