{% extends "core/index.html" %} {% block tree_view %}
<style>
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }

  .node text {
    font: 12px sans-serif;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
</style>
<div style="width: 400; height: 600; overflow: scroll">
  <svg width="1300" height="500"></svg>
</div>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script>
    var nodes = {{ tree_view|safe }};

    var rootNode = nodes[Object.keys(nodes)[0]];
    console.log(rootNode)
    var treeData = {
      name: rootNode['id'],
      children: [],
      atributes:rootNode['atributes']
    };

    function getNeigbours(parent){
      var new_nodes = nodes[parent.data.name]['neighbours']
      if(new_nodes != []){
      new_nodes.forEach(function(d){
          var newNodeObj = {
              name: d.id,
              atributes: d.atributes,
              children: [],
            };
            //Creates new Node
            var newNode = d3.hierarchy(newNodeObj);
            newNode.depth = parent.depth + 1;
            newNode.height = parent.height - 1;
            newNode.parent = parent;
            addNewNode(parent, newNode);
      })}
    }

    var margin = { top: 20, right: 90, bottom: 30, left: 90 },
      width = 1300
      height = 500

    var svg = d3
      .select("svg")
      .attr("width", width + margin.right + margin.left)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var i = 0,
      duration = 750,
      root;

    var treemap = d3.tree().size([height, width]);

    root = d3.hierarchy(treeData, function (d) {
      return d.children;
    });
    root.x0 = height / 2;
    root.y0 = 0;

    // Collapse after the second level
  //   root.children.forEach(collapse);
  //   collapse(root);
    update(root);

    function collapse(d) {
      if (d.children) {
        d._children = d.children;
        d._children.forEach(collapse);
        d.children = null;
      }
    }

    function addNewNode(d, item) {
        if (d._children) {
          d._children.push(item);
        } else if(d.children){
          d.children.push(item);
        }else{
            d._children = [item]
        }
    }

    function wrap(text, width, padding, initial_y_offset) {
      text.each(function () {
          let text = d3.select(this),
              words = text.text().split(/[\s,,]+/).reverse(),
              word,
              line = [],
              lineNumber = 0,
              lineHeight = 1.1,
              x = text.attr("x"),
              y = text.attr("y"),
              dy = 0,
              tspan = text.text(null)
                          .append("tspan")
                          .attr("x", x)
                          .attr("y", y)
                          .attr("dy", initial_y_offset + dy + "em");
          while (word = words.pop()) {
              line.push(word);
              tspan.text(line.join(" "));
              if (tspan.node().getComputedTextLength() > width - padding) {
                  line.pop();
                  tspan.text(line.join(" "));
                  line = [word];
                  tspan = text.append("tspan")
                              .attr("x", x)
                              .attr("y", y)
                              .attr("dy", lineHeight + dy + "em")
                              .text(word);
            }
          }
      });
    }

    function update(source) {
      var treeData = treemap(root);

      var nodes = treeData.descendants();
      var links = treeData.descendants().slice(1);

      // Normalize for fixed-depth.
      nodes.forEach(function (d) {
        d.y = d.depth * 120;
      });

      // ****************** Nodes section ***************************

      // Update the nodes...
      var node = svg.selectAll("g.node").data(nodes, function (d) {
        return d.id || (d.id = ++i);
      });

      // Toggle children on click.
      function click(d) {
        if (d.children) {
          d._children = d.children;
          d.children = null;
        } else {
          d.children = d._children;
          d._children = null;
        }
        console.log(d)
        update(d);
      }

      // Enter any new nodes at the parent's previous position.
      var nodeEnter = node
        .enter()
        .append("g")
        .attr("class", "node")
        .attr("transform", function (d) {
          return "translate(" + source.y0 + "," + source.x0 + ")";
        })
        .on("click", function (event, d) {
          if (d.loaded === undefined) {
            getNeigbours(d)
            d.loaded = true;
            click(d);
          } else {
            click(d);
          }
        });

      // Add Circle for the nodes
      nodeEnter
        .append("circle")
        .attr("class", "node")
        .attr("r", 1e-6)
        .style("fill", function (d) {
          return d._children ? "lightsteelblue" : "#fff";
        });

        nodeEnter
        .append("rect")
        .attr('x',-5)
        .attr('y',15)
        .attr('width',120)
        .attr('height',70)
        .attr('fill','rgba(21, 137, 224, 0.8)');
      // Add labels for the nodes
      nodeEnter
        .append("text")
        .attr("dy", "2.5em")
        .attr("x", function (d) {
          return d.children || d._children ? -1 : 1;
        })
        .attr("text-anchor", "start")
        .attr('fill','white')
        .text(function (d) {
          return `name: Node_${d.data.name} attributes: ${Object.keys(d.data.atributes)}`;
        }).call(wrap, 110, 1, 2.5);

      // UPDATE
      var nodeUpdate = nodeEnter.merge(node);

      // Transition to the proper position for the node
      nodeUpdate
        .transition()
        .duration(duration)
        .attr("transform", function (d) {
          return "translate(" + d.y + "," + d.x + ")";
        });

      // Update the node attributes and style
      nodeUpdate
        .select("circle.node")
        .attr("r", 10)
        .style("fill", function (d) {
          return d._children ? "lightsteelblue" : "#fff";
        })
        .attr("cursor", "pointer");

      // Remove any exiting nodes
      var nodeExit = node
        .exit()
        .transition()
        .duration(duration)
        .attr("transform", function (d) {
          return "translate(" + source.y + "," + source.x + ")";
        })
        .remove();
        console.log(nodeExit)

      // On exit reduce the node circles size to 0
      nodeExit.select("circle").attr("r", 1e-6);

      // On exit reduce the opacity of text labels
      nodeExit.select("text").style("fill-opacity", 1e-6);

      // ****************** links section ***************************

      // Update the links...
      var link = svg.selectAll("path.link").data(links, function (d) {
        return d.id;
      });

      // Enter any new links at the parent's previous position.
      var linkEnter = link
        .enter()
        .insert("path", "g")
        .attr("class", "link")
        .attr("d", function (d) {
          var o = { x: source.x0, y: source.y0 };
          return diagonal(o, o);
        });

      // UPDATE
      var linkUpdate = linkEnter.merge(link);

      // Transition back to the parent element position
      linkUpdate
        .transition()
        .duration(duration)
        .attr("d", function (d) {
          return diagonal(d, d.parent);
        });

      // Remove any exiting links
      var linkExit = link
        .exit()
        .transition()
        .duration(duration)
        .attr("d", function (d) {
          var o = { x: source.x, y: source.y };
          return diagonal(o, o);
        })
        .remove();

      // Store the old positions for transition.
      nodes.forEach(function (d) {
        d.x0 = d.x;
        d.y0 = d.y;
      });

      // Creates a curved (diagonal) path from parent to the child nodes
      function diagonal(s, d) {
        path = `M ${s.y} ${s.x}
                  C ${(s.y + d.y) / 2} ${s.x},
                    ${(s.y + d.y) / 2} ${d.x},
                    ${d.y} ${d.x}`;

        return path;
      }

    }
</script>
{% endblock %}
